<div class="column-2">
  <% devise_error_messages! %>
  <div class="descriptor">Sign Up</div>
  <div class="admin-form shadow-sm">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => ""}) do |f| %>
      <div class="fields split">
        <div>
          <div class="descriptor">First Name</div>
          <%= f.text_field :firstname,:required => true %>
        </div>
        <div>
          <div class="descriptor">Last Name</div>
          <%= f.text_field :lastname, :required => true%>
        </div>
        <div>
          <div class="descriptor">Username</div>
          <%= f.text_field :username, :required => true %>
        </div>
        <div>
          <div class="descriptor">Email</div>
          <%= f.email_field :email, :required => true%>
        </div>
        <div>
          <div class="descriptor">Password</div>
          <%= f.password_field :password, placeholder: "#{@minimum_password_length} char min",:required => true %>
        </div>
        <div>
          <div class="descriptor">Confirm Password</div>
          <%= f.password_field :password_confirmation, :required => true %>
        </div>
        <%= f.select :country, options_for_select(COUNTRIES), :required => true, prompt: "" %>
        <%= f.submit "Sign Up!" %>
      </div>
    <% end %>
  </div>
</div>
<div class="column-4 indent-right">
  <%= render "layouts/matches", :upcoming => @upcoming, :completed => @completed %>
</div>
