<div class="thread">
  <%= react_component("Thread", {timestamp: get_time_ago(@forum_thread.created_at), thread: @forum_thread, info: @thread_info, compact: false}) %>
  <hr>
  <%= render(partial: 'forums/forum_posts/post', collection: @forum_thread.forum_posts.includes(:user, :forum_posts)) %>
  <hr>
  <div class="post-reply bottom-reply">
    <% if user_signed_in? %>
      <div class="post-reply-topbar"></div>
      <%= form_for(ForumPost.new, url: thread_posts_path(@forum_thread)) do |f| %>
        <%= f.text_area :body, placeholder: "Add a comment", rows: 4, class: "reply-form" %>
        <%= f.submit "Submit Post", class: "submit-post-button" %>
      <% end %>
    <% else %>
      Login or register to add your comment to the discussion.
    <% end %>
  </div>
</div>
