<div class="column-2">
  <div class="descriptor">
    <span><%= link_to "Ongoing", events_path%></span>
    <span><%= link_to "Completed", events_path(:s => "completed")%></span>
  </div>

  <div class="events-container shadow-sm">
    <% @events.each do |event| %>
      <%= react_component("Event", {event: event, compact: true}, {class: "event-entry"}) %>
    <% end %>
  </div>

  <% if policy(Event).create? %>
    <div class="descriptor">Admin Actions</div>
    <div class="admin-actions">
      <%= link_to 'Create Event', 'javascript:;', class: "admin-panel 1" %>
    </div>
    <div id="panel-1" class="admin-form hidden">
      <%= form_for(@event, url: events_path) do |f| %>
        <div class='fields'>
          <div>
            <div class="descriptor">Name</div>
            <%= f.text_field :name %>
          </div>
          <div>
            <div class="descriptor">Short Name</div>
            <%= f.text_field :shortname %>
          </div>
          <div>
            <div class="descriptor">Color</div>
            <%= f.color_field :color %>
          </div>
          <div>
            <div class="descriptor">Description</div>
            <%= f.text_field :desc %>
          </div>
          <div>
            <div class="descriptor">Location</div>
            <%= f.text_field :location %>
          </div>
          <div>
            <div class="descriptor">Country</div>
            <%= f.select :country, options_for_select(COUNTRIES, COUNTRIES['United Nations']), :required => true, prompt: "" %>
          </div>
          <div>
            <div class="descriptor">Prize</div>
            <%= f.number_field :prize %>
          </div>
          <div>
            <div class="descriptor">Start Date</div>
            <%= f.date_field :start_date %>
          </div>
          <div>
            <div class="descriptor">End Date</div>
            <%= f.date_field :end_date %>
          </div>
          <div>
            <div class="descriptor">Logo</div>
            <div class="edit-avatar">
              <div><%= f.file_field :logo%></div>
            </div>
          </div>
          <div id="event-add-teams">
            <div class="descriptor">Teams</div>
            <%= link_to 'Add Team', 'javascript:;', id: "add-team" %>
            <%= f.fields_for :teams do |ff| %>
              <%= render 'officials/layouts/team', :teams => @teams, :default => false, :locked_in => true %>
            <% end %>
          </div>
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
<div class="column-4">
  <%= render "layouts/matches", :upcoming => @upcoming, :completed => @completed %>
</div>
