<div class="column-2">
  <div class="descriptor">
    All
  </div>
  <div class="teamstable table">
    <% @teams.each do |team| %>
      <%= react_component("Team", {compact: true, team: team, id: team.id}, {class: "team-table-row"}) %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= form_for(@team, url: teams_path) do |f| %>
      <h2>Create New Team</h2>
      <%= f.text_field :name, placeholder: "Team Name", class:"form-control", :required => true %>
      <%= f.text_field :shortname, placeholder: "Initials (ex. SFS)", class:"form-control" %>
      <%= f.text_field :website, placeholder: "Website", class:"form-control" %>
      <%= f.text_field :logo, placeholder: "Logo Link", class: "form-control" %>
      <%= f.select :country, options_for_select(COUNTRIES), :required => true, prompt: "" %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>

<div class="column-3 indent-right">
  <%= render "layouts/matches", :upcoming => @upcoming, :completed => @completed %>
</div>
