<div class="column-2 matches-column">
  <div class="descriptor">
    <span><%= link_to "Schedule", matches_path %></span>
    <span><%= link_to "Results", matches_path(:f => "comp")%></span>
  </div>

  <div class="matches-page shadow-sm">
    <% @officials.each do |match| %>
      <%= react_component("Match", {match: match, compact: false, teams: [match.team1, match.team2], event: match.event, section: match.section}, {:style => "margin: 1px 0;"}) %>
    <% end %>
  </div>

  <div class="pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false, :inner_window => 1, :outer_window => 1 %>
  </div>
</div>
