<div class="column-2">
  <div class="descriptor">Change Password</div>
  <div class="admin-form shadow-sm">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <div class="fields">
        <div>
          <div class="descriptor">Current Password</div>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div>
          <div class="descriptor">New Password</div>
          <%= f.password_field :password, placeholder: @minimum_password_length.to_s + " characters min", autocomplete: "new-password"%>
        </div>

        <div>
          <div class="descriptor">Confirm Password</div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <%= f.submit "Change Password" %>
      </div>
      </div>
    <% end %>
  </div>
</div>
