<div class="column-2">
  <div class="descriptor">
    <% @events.each do |event| %>
      <%= link_to event.shortname, rankings_path(:e => event.shortname) %>
    <% end %>
  </div>
  <div class="rankings-table">
    <table class="table">
      <thead>
        <tr>
          <th><%= sortable("rating", "Rank") %></th>
          <th class="left-align"><%= sortable("name", "Team") %></th>
          <th class="left-align"><%= sortable "country" %></th>
          <th><%= sortable "rating" %></th>
          <th><%= sortable("last_played", "Last Played") %></th>
          <th><%= sortable "streak" %></th>
          <th><%= sortable("games_played", "Games") %></th>
        </tr>
      <thead>
      <tbody>
        <% @custom.each_with_index do |team, index| %>
          <tr>
            <% streak = streak_helper?(team.streak) %>
            <td class="td-small"><%= @default.map(&:id).index(team.id) + 1%></td>
            <td class="left-align" style="font-weight: 500"><%= image_tag(team.pic, class: "team-img-sm") if team.pic.attached?%><%= link_to team.name, team_path(team) %></td>
            <td class="left-align"><%= image_tag("flags/"+team.country+".svg", class: "flag-logo")%><%= COUNTRIES.invert[team.country]%> </td>
            <td><%= team.rating %></td>
            <td><%= time_ago_in_words(team.last_played).gsub("about", "") %> ago</td>
            <td class="td-small <%=streak[1]%>"><%= streak[0].to_s + streak[1] %></td>
            <td class="td-small"><%= team.games_played %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="column-3 indent-right">
  <%= render "layouts/matches", :upcoming => @upcoming, :completed => @completed %>
</div>
