<%= react_component("Event", {event: @event, compact: false}) %>
<%= render "officials/layouts/sections", :event => @event %>
<%= render "officials/layouts/teams", :teams => @teams %>
<%= render "officials/layouts/standings", :teams => @teams, :standings => @standings %>

<div class="jumbotron shadow">
  <h3>Schedule</h3>
  <% @officials.each do |match| %>
    <%= react_component("Match", {match: match, compact: true, teams: [match.team1, match.team2]}) %>
  <% end %>
</div>
