<div class="jumbotron shadow actions">
  <h2>Match Overview</h2>
  <div class="match-details">
    <div>
      <strong>Date:</strong>
      <%= @match.date %>
    </div>
    <div>
      <strong>Map:</strong>
      <%= @match.map %>
    </div>
    <div>
      <strong>Left Team:</strong>
      <%= @match.left_team %>
    </div>
    <div>
      <strong>Right Team:</strong>
      <%= @match.right_team %>
    </div>
  </div>
</div>

<div class="jumbotron shadow actions">
  <h2>Compositions</h2>
  <% if @compositions.length == 0 %>
    <div class="upload-row">
      <%= form_for(Composition.new, url: user_match_composition_path(current_user, @match), method: :post, html: {class: "import-csv-form"}) do |f| %>
        <div class="custom-file" id="customFile">
          <%= f.file_field :composition_csv, class: "custom-file-input", id: "compsInputFile", required: 'required' %>
          <%= label_tag :composition_csv, "Select Composition CSV", class: "custom-file-label" %>
        </div>
        <div class="upload-button">
          <%= f.submit "Upload Comps", name: 'upload_composition' , class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Round</th>
          <th scope="col">Players</th>
          <th scope="col">Heroes</th>
          <th scope="col">Duration(m)</th>
        </tr>
      </thead>

      <tbody>
        <% @compositions.each do |comp| %>
          <% if comp.duration > 60 %>
            <tr>
              <td><%= comp.roundtype.downcase.capitalize %></td>
              <td><%= comp.player_roster.join(", ") %></td>
              <td><%= comp.hero_roster.join(", ") %></td>
              <td><%= (comp.duration/60.0).round(2)%></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="jumbotron shadow actions">
  <h2>General statistics</h2>
  <% if @generals.length == 0 %>
    <div class="upload-row">
      <%= form_for(General.new, url: user_match_general_path(current_user, @match), method: :post, html: {class: "import-csv-form"}) do |f| %>
        <div class="custom-file" id="customFile">
          <%= f.file_field :general_csv, class: "custom-file-input", id: "generalInputFile", required: 'required' %>
          <%= label_tag :general_csv, "Select General CSV", class: "custom-file-label" %>
        </div>
        <div class="upload-button">
          <%= f.submit "Upload General", name: 'upload_general' , class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>
      <b>F# -</b> Fight Total | <b>FW -</b> Fight Win | <b>FL -</b> Fight Loss | <b>FK -</b> First Kill | <b> FD - </b> First Death
    </p>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Player</th>
          <th scope="col">Hero</th>
          <th scope="col">Kill</th>
          <th scope="col">Death</th>
          <th scope="col">TTCU</th>
          <th scope="col">TTUU</th>
          <th scope="col">F#</th>
          <th scope="col">FW</th>
          <th scope="col">FL</th>
          <th scope="col">FK</th>
          <th scope="col">FD</th>
        </tr>
      </thead>

      <tbody>
        <% @generals.each do |row| %>
          <tr>
            <td><%= row.player.downcase %></td>
            <td><%= row.hero %></td>
            <td><%= row.kill %></td>
            <td><%= row.death %></td>
            <td><%= row.ttcu %></td>
            <td><%= row.ttuu %></td>
            <td><%= row.fight_total %></td>
            <td><%= row.fight_win %></td>
            <td><%= row.fight_lose %></td>
            <td><%= row.first_kill %></td>
            <td><%= row.first_death %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<div class="jumbotron shadow actions">
  <h2>Fight Statistics</h2>
  <% if @fights.length == 0 %>
    <div class="upload-row">
      <%= form_for(Fight.new, url: user_match_fight_path(current_user, @match), method: :post, html: {class: "import-csv-form"}) do |f| %>
        <div class="custom-file" id="customFile">
          <%= f.file_field :fight_csv, class: "custom-file-input", id: "fightInputFile", required: 'required' %>
          <%= label_tag :fight_csv, "Select Fights CSV", class: "custom-file-label" %>
        </div>
        <div class="upload-button">
          <%= f.submit "Upload Fights", name: 'upload_composition' , class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>
      <b>LT -</b> Left Team | <b>RT -</b> Right Team | <b>LH -</b> Left Heroes | <b>RH -</b>
      Right Heroes | <b> FB - </b> First Blood <br> <b> LKN - </b> Left Kill # | <b> RKN - </b>
      Right Kill # | <b> LUU - </b> Left Ults Used | <b> RUU - </b> Right Ults Used
    </p>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Round</th>
          <th scope="col">Time(s)</th>
          <th scope="col">LT</th>
          <th scope="col">LH</th>
          <th scope="col">RT</th>
          <th scope="col">RH</th>
          <th scope="col">Win</th>
          <th scope="col">FB</th>
          <th scope="col">LKN</th>
          <th scope="col">RKN</th>
          <th scope="col">LUU</th>
          <th scope="col">RUU</th>
        </tr>
      </thead>

      <tbody>
        <% @fights.each do |row| %>
          <tr>
            <td><%= row.roundtype.downcase.capitalize %></td>
            <td><%= row.duration %></td>
            <td><%= @match.left_team %></td>
            <td><%= row.left_heroes.join(", ") %></td>
            <td><%= @match.right_team %></td>
            <td><%= row.right_heroes.join(", ") %></td>
            <td>
              <% if row.left_players == row.winner %>
                <%= @match.left_team %>
              <% else %>
                <%= @match.right_team %>
              <% end %>
            </td>
            <td>
              <% if row.left_players == row.first_blood %>
                <%= @match.left_team %>
              <% else %>
                <%= @match.right_team %>
              <% end %>
            </td>
            <td><%= row.left_kill_num %></td>
            <td><%= row.right_kill_num %></td>
            <td><%= row.left_ults_used %></td>
            <td><%= row.right_ults_used %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="jumbotron shadow actions">
  <%= link_to 'Back', user_matches_path(current_user), class: "btn btn-primary" %>
  <%= link_to 'Edit', edit_user_match_path(current_user, @match), class: 'btn btn-info' %>
</div>
