<div class="columns">
  <div class="column-1">
    <%= render "layouts/discs", :discs => @discs %>
  </div>
  <div class="column-2">
    <div class="descriptor">News</div>
    <div class="news">
      <% @news.each do |article| %>
        <%= link_to news_path(article), class: "link-nodec" do %>
          <div class="article">
            <div>
              <span><%= image_tag("/assets/flags/" + article.country, class:'flag-logo') %></span>
              <span><%= article.subject %></span>
            </div>
            <div class="article-comment"><%= article.comments_count %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="column-3">
    <div class="descriptor">Upcoming Matches</div>
    <div class="upcoming-matches shadow-sm">
      <% @upcoming.each do |match| %>
        <%= react_component("Match", {match: match, teams: [match.team1, match.team2], compact: true}) %>
      <% end %>
    </div>
    <div class="descriptor">Completed Matches</div>
    <div class="completed-matches shadow-sm">
      <% @completed.each do |match| %>
        <%= react_component("Match", {match: match, teams: [match.team1, match.team2], compact: true}) %>
      <% end %>
    </div>
  </div>
  <div class="column-4">
    <div class="descriptor">Events</div>
    <div class="events-comp shadow-sm">
      <% @events.each do |event| %>
        <%= link_to event_path(event), class: "link-nodec" do %>
          <div class="event-comp">
            <div class="event-comp-img">
              <%= image_tag("/assets/events/" + event.name.split(" ").slice(0, 2).join("-")+".png", class: "team-img-md") %>
            </div>
            <div class="event-comp-info">
              <div class="event-comp-name"><%= event.name %></div>
              <div class="event-comp-date"><%= event.start_date.strftime("%b %d")%> - <%=event.end_date.strftime("%b %d") %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="descriptor">Streams</div>
    <div class="shadow-sm streamer-list">
      <%= react_component("LiveStreams") %>
    </div>
  </div>
</div>
