<div class="parent-post">
  <div class="forum-post-wrapper">
    <div class="forum-post">
      <div class="post-header">
        <div><%= image_tag("/assets/flags/" + post.user.country, class: "flag-logo")%> <%=post.user.username%></div>
      </div>
      <div class="post-body">
        <%= sanitize post.body %>
        <%= render "layouts/form", :type => "edit", :post => post, :forum_post => ForumPost.new, :content => post.body %>
      </div>
      <div class="post-footer">
        <div class="post-timestamp">posted <%= get_time_ago(post.created_at) %> ago</div>
        <div class="post-footer-actions">
          <% if post.user == current_user %>
            <div class='edit-button <%=post.id.to_s%>'>edit</div>
          <% end %>
          <% if user_signed_in? %>
            <div class='reply-button <%=post.id.to_s%>'>reply</div>
          <% end %>
        </div>
      </div>
    </div>
    <%= render "layouts/form", :type => "reply", :post => post, :forum_post => ForumPost.new %>
  </div>
  <%= render partial: 'forums/forum_posts/post', collection: post.forum_posts.includes(:user) %>
</div>
