<% if notice %>
  <div class="alert alert-success alert-dismissible show">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if alert %>
<div class="alert alert-danger alert-dismissible show">
  <%= alert %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>

<% if flash[:success] %>
  <div class="alert alert-success alert-dismissible show" role="alert">
    <% messages = Array(flash[:success]) %>
    <% messages.each do |msg| %>
      <%= msg.html_safe %>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:message] %>
  <div class="alert alert-primary alert-dismissible show" role="alert">
    <% messages = Array(flash[:message]) %>
    <% messages.each do |msg| %>
      <li><%= msg.html_safe %></li>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if flash[:danger] %>
  <div class="alert alert-danger alert-dismissible show" role="alert">
    <% messages = Array(flash[:danger]) %>
    <% messages.each do |msg| %>
      <li><%= msg.html_safe %></li>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
