<% if type == "reply" %>
  <div class="child-post-reply" id="reply-<%=post.id.to_s%>">
    <%= form_for(forum_post, url: post_posts_path(post), id: "forum") do |f| %>
      <%= f.cktext_area :body, ckeditor: {toolbar: "mini", height: 200, toolbarCanCollapse: true}, id: "reply-zzz-" + post.id.to_s%>
      <%= f.submit "Submit Post", class: "submit-post-button" %>
    <% end %>
  </div>
<% else %>
  <div class="edit-reply" id="edit-<%=post.id.to_s%>">
    <%= form_for(forum_post, url: post_post_path(post_id: post.commentable.id, id: post.id),  method: :put) do |f| %>
      <%= f.cktext_area :body, value: content, ckeditor: {toolbar: "mini", height: 200, toolbarCanCollapse: true}, id: "edit-zzz" + post.id.to_s%>
      <%= f.submit "Edit Post", class: "submit-post-button" %>
    <% end %>
  </div>
<% end %>
