<!DOCTYPE html>
<html>
  <head>
    <title>Cookednuggets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="main-content">
      <%= render "layouts/navbar" %>
      <%= render "layouts/alerts" %>
      <div class="landing-page-wrapper">
        <div class="landing-page">
          <div class="columns">
            <div class="column-1">
              <%= render "layouts/discs", :discs => @discs %>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-dark">Alined</footer>
  </body>


</html>
